<app-navbar></app-navbar><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <h1 class="div-heading display-4  font-weight-bold">Contact US</h1><br><br>
      <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
        directly. Our team will come back to you within
        a matter of hours to help you.</p>
  
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <input type="name" class="form-control" id="exampleInputName" placeholder="Your Full Name...">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Email Address...">
        </div>
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1" placeholder="Select Services...">
            <option>User</option>
            <option>New User</option>
            <option>Seller</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-warning btn-lg btn-block">Submit</button>
      </form>
    </div>
    <div  class="col-md-6"><br><br><br>
      <h5>Address: <small class="text-muted">DLF IT Park, HP Avenue, DLF Phase 3, Cyber city, Gurugram, Haryana 123217</small></h5><br>
      <h5>Email: <small class="text-muted">GroceryPro@luxuryfood.com</small></h5><br>
      <h5>Contact: <small class="text-muted">+91 45555 0099 || +91 54000 6789</small></h5><br>
      <!-- <p><iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtcNatvRsrjsRA38LEBPt_78&key=..." allowfullscreen></iframe></p> -->
      <!--<div class="text-center">
        <img class="img-fluid contact-image" alt="Responsive image" src="https://csds.qld.edu.au/sdc/resources/images/find-us-map.jpg" class="rounded" alt="...">
      </div>-->
      
    </div>
    
    
  </div>
  <p class=""><small class="text-info" >Developed By: Rishabh Mishra</small></p>
</div>


