<app-navbar></app-navbar><br><br><br><br>
<div class="container text-center" >
    <div class="card">
        <div class="card-header bg-info">
         About GroceryPro
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Grocery App delivers anything to your doorstep instantly. Groceries, Fruits & Vegetables, Food, Meat & more. Shop for groceries, fruits & vegetables from nearby stores</p>
            <footer class="blockquote-footer"> Team <cite title="Source Title">GroceryPro</cite></footer>
          </blockquote>
        </div>
        <div class="card mb-3">
            <img src="https://miro.medium.com/max/2360/1*7SMeYbFbnde_JkPzKauLYg@2x.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GroceryPro</h5>
              <p class="card-text">Online grocery apps are setting up a new dimension and have registered consistent growth changes in the online e-commerce industry. With the sudden rise of an internet buyer, makes a dramatic shift in customer shopping habits. Today, most companies are coming up with innovative ideas that makes the top online grocery business extremely popular.</p>
              
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <p class=" "><small class="text-info">Developed By: Rishabh Mishra</small></p>
            </div>
            
          </div>
          
      </div>
   </div>

  