
<div class="container" >
<div class="row" >
  <div class="col-sm-3" *ngFor="let category of categories">
    <div class="card" >
      <img src="{{ 'http://rjtmobile.com/grocery/images/' + category.catImage }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ category.catName }}</h5>
        <p class="card-text"></p>
        <button class="btn btn-primary" (click)="onSubmitHandler(category.catId)">Shop Now</button>
      </div>
    </div>
    
  </div>

</div>
<p class=""><small class="text-info" >Developed By: Rishabh Mishra</small></p>
</div>
